.Rotation{
    background-color: #031424;
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
}
.Rotation h2{
    color: #F3916A;
}
.rotationSlider{
    color: #45D1F5;
}
.rotationSlider img{
    margin: 0 auto;
}

.slick-active {
    color: #45D1F5;
}
.slick-dots li{

}